html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header {
  height: 15%;
  width: 100%;
  background-color: rgb(153, 194, 181);
  display: flex;
  justify-content: center;
  align-items: center;
}
